{% extends 'base.html.twig' %}

{% block body %}
    <div class="header-bg">
        <h1>Vos séries, toutes au même endroit.</h1>
    </div>
    <div>
        <div>
            <h2>
                <a href="/program">Séries</a>
                <a href="/actor">Acteur.rices</a>
            </h2>
        </div>
    </div>
{% endblock %}
